/* -------------------------------------------------
 * 16srRNA Nextflow config file
 * ------------------------------------------------
*/

// Global default params, used in configs

params{
	outdir = 'Test-Results'
	primers = "../test_data/primers.txt"
	metadata = "../test_data/Metadata.tsv"
	reads = "../test_data/data/*_R{1,2}_001.fastq.gz"
	tracedir = "${params.outdir}/pipeline_info"
}


timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}


report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}


trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}

dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.png"
}


manifest {
  name = '16srRNA'
  homePage = 'https://github.com/mbbu/16S_Accreditation'
  description = '16s ribosomal RNA analysis'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.10.0'
}
