/* -------------------------------------------------
 * 16srRNA Nextflow config file
 * ------------------------------------------------
*/

// Global default params, used in configs

params{
	outdir = 'Results'
	primers = '/data/accredetation/16S/test/Data/set5_primers.txt'
	metadata = '/data/accredetation/16S/test/Data/set5_meta.txt'
	reads = '/data/accredetation/16S/test/Data/set5/*_R{1,2}.fastq'
	tracedir = "${params.outdir}/pipeline_info"
}


timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}


report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}


trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}

dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.png"
}


manifest {
  name = '16srRNA'
  homePage = 'https://github.com/mbbu/16S_Accreditation'
  description = '16s ribosomal RNA analysis'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.10.0'
}
